<div class="container-fluid">
    <div class="row background">
        <div class="col-12">
            <img src="../../../assets/images/tutormatch-logo.svg" class="logo">
            <div class="float-right">
                <button type="button" class="btn">Become a Tutor</button>
                <button type="button" class="btn btn-outline-secondary">Sign In</button>

            </div>
            <div class="center margin-head">
                <h1 class="font" style="font-size: 36px" id="style-font1">The place where Tutors and Students meet</h1>
                <h2 class="font" id="style-font2">Find out who can help you take your education to
                    the next level.</h2>
                <button type="button" class="btn btn-success button-get-start font">Get started now</button>
            </div>


        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <div class="row">
                <div class="center our-tutors">
                    <h2 class="font" style="font-size: 24px" id="style-font1">Our Tutors</h2>
                    <h2 class="font" id="style-font2">We have more than 100 tutors from various disciplines
                        ready to match with you.</h2>
                </div>
            </div>
        </div>
    </div>
</div>