<div class="container-fluid">
    <div class="row">
        <p>Filter by:</p>
        <div class="btn-group button-filter ">
            <button (click)="filtro('city','Arapiraca')" type="button" class="btn btn-success">Liverpool</button>
            <button (click)="filtro('city','London')" type="button" class="btn btn-success">London</button>
            <button (click)="filtro('city','Manchester')" type="button" class="btn btn-success">Manchester</button>
        </div>
        <p>Sort By:</p>
        <div class="btn-group button-filter ">
            <button (click)="filtro('order','name')" type="button" class="btn">Name</button>
            <button (click)="filtro('order','city')" type="button" class="btn">City</button>
        </div>
    </div>
</div>
