.center {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.margin-head{
    margin-top: 70px;
    margin-bottom: 100px;
}

.button-get-start{
    border: none;
    color: black;
    padding: 11px 36px 11px 36px;
    background-color: #dadada;
}
